# Feed generator identity
FEEDGEN_HOSTNAME=example.com
FEEDGEN_PUBLISHER_DID=did:plc:youridentifierhere
FEEDGEN_SERVICE_DID=

# The record name (rkey) of the feed as published to your account
FEEDGEN_FEED_RECORD_NAME=hardcoded-feed

# Server
FEEDGEN_PORT=3000
FEEDGEN_LISTENHOST=localhost
